- var icon = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAABACAYAAABVy1Q8AAACf0lEQVRoQ+3bz4tNYRzH8deEIslGSaH8WmikhCxYWFDEShQL8gfYKMVCkYWUlPgLWCFWFiz8SCjFwijyY/KjsLBRyBQGfetM3TndceeZc85tRs93ee7z/X6e7znv55zn3vs5PZqLjdiDdZiLP3iPuziHW01I9zRQdH4x4fUdat/AXnyocw51N7QUtzF7lJP8iGj81SjHdxxWZ0Mz8BgLO6oOH/ASK/A9Ma/t8DobOoGDY5zUMRwZY+6wtHYNTcc8TE0QmISbmDlCTj9Ca9EIn3/GBvxO0PyJd/jWmtPa0DIcxyZMSSj8r6FxV9uKvmLQSlzFnJrqD+IaDuFp1BxqaDOuYFpNQkNlduJiqeZunK9ZZwDbcD0aCryiu1jUdccCvC0VXYK4EdQdX9AbDZ3FvrqrF/VW41Gp9lrca0jvTDT0GnEmm4gL2NVSOPQuF3g0odcfAnG3mFyq/qlYbGXRXqxKnMmdYn2G1o5iK5RS4iGetUnYglml4z9CJPZY5bg/gvABnEyZTQ1j9+N0mzoPsKZ0fDA3lK9QdeYycvmmUJ2ipAoZuRTk4htp7Ji7GbF1et7Uc6ibjXTSquXB2kmkm5/nhuL3tPEc+QrlK9RlPjNyGbmMXLUzkNdQXkPVCErOzshl5JKhqZaQkcvIVSMoOTsjl5FLhqZaQkYuI1eNoOTsjFxGLhmaagkZuYxcNYKSszNyGblkaKolZOQmLHLt7GVhOX5TjYjGs8NOXbaUDoQbK7xo8Xf9/xB90dDRujzT4+CMHI6Gwmv9BPHOwkSOWCLLh2zOYb0M/3M4hCdihPM4/OYvWo3ocaXCgrkdi9v4UMdbo7+Kl0Au4RS+xgT/AgKGEWYFfNScAAAAAElFTkSuQmCC'
if receipt
    div(class="uk-margin" style="user-select: none")
        div(class="uk-grid" uk-grid)
            div(class="uk-width-1-3@xl uk-width-1-4@l uk-width-1-6@m")
            div(class="uk-width-expand")

                div(class="uk-card uk-card-default uk-card-body")
                    button(class="uk-button uk-button-default uk-margin-right" onclick=`copyToClipboard(${receipt.id})` style="margin-left: 1rem" ) Copy
                    span(class="uk-margin-right") or use: 
                    span(style="position: relative; padding: 15px 30px 15px 30px")
                        span(style=`padding: 15px 30px 15px 30px; position: absolute; left: 0px; border: 1px dashed; background-repeat: no-repeat; background-position: 20px; background-size: 15px 20px; background-image: url("${icon}")`)
                        span(style="user-select: all; position: absolute; left: 0px; width: 5rem")
                            - let count = 8;
                            while --count > 0
                                img(style="margin-top: 30px; margin-right: 0.5rem" src=`/${receipt.id}.png`)
            div(class="uk-width-1-3@xl uk-width-1-4@l uk-width-1-6@m")
