<!doctype html>
<html>
include head.pug
<body>
include header.pug
div(class="uk-child-width-expand@s uk-text-center uk-margin-top" uk-grid)
    div(class="uk-width-1-3@xl uk-width-1-4@l uk-width-1-6@m")
    div(class="uk-width-expand")
        div(class="uk-card uk-card-large uk-card-default")
            form(action="/create" method="POST")
                div(class="uk-card-header")
                    h2(class="uk-card-title") Choose a name...
                div(class="uk-card-body")
                    h4
                        | Choose a name for your tracker pixel, make sure it is
                        | descriptive and can be used to identify the email you want to track.
                        | After creating the pixel you will be redirected to the statistics
                        | page where you can copy the pixel and see who has opened it.
                    input(class="uk-input" type="text" name="subject" placeholder="Subject" maxlength="256" required)
                div(class="uk-card-footer")
                    button(type="submit" class="uk-button uk-button-default") Create
    div(class="uk-width-1-3@xl uk-width-1-4@l uk-width-1-6@m")
</body>
include libs.pug
</html>
