<!doctype html>
|<html>
include head.pug
|   <body>
|       <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
include header.pug
|           <main class="mdl-layout__content">
div(class="mdl-grid")
    div(class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet")
    div(class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet")
        div(class="mdl-card mdl-shadow--6dp" style="width: fit-content")
            form(action="/create" method="POST")
                div(class="mdl-card__title" style="padding: 30px")
                    h2(class="mdl-card__title-text")= `Choose a name...`
                div(class="mdl-card__supporting-text" style="padding: 0px 30px 0px 30px; width: unset")
                    h4
                        | Choose a name for your tracker pixel, make sure it is
                        | descriptive and can be used to identify the email you want to track.
                        | After creating the pixel you will be redirected to the statistics
                        | page where you can copy the pixel and see who has opened it.
                    div(style="margin: 20px 0px 20px 0px")
                        div(class="mdl-textfield mdl-js-textfield")
                            input(class="mdl-textfield__input" type="text" name="subject" id="subject" maxlength="256" required)
                            label(class="mdl-textfield__label" for="subject")= Subject
                div(class="mdl-card__actions mdl-card--border" style="padding: 10px 30px 10px 30px")
                    button(type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") Create
    div(class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet")
|           </main>
|       </div>
|   </body>
include libs.pug
|</html>
