|<div class="demo-layout-transparent mdl-layout">
|    <header class="mdl-layout__header mdl-layout__header--scroll">
|        <div class="mdl-layout__header-row">
|            <!-- Title -->
|            <span class="mdl-layout-title">Seen</span>
|            <!-- Navigation -->
|            <nav class="mdl-navigation">
|                <a class="mdl-navigation__link" href="/create">Create</a>
|                <a class="mdl-navigation__link" href="/stats">Stats</a>
|            </nav>
if receipt
    span(class="mdl-chip")
        span(class="mdl-chip__text")= receipt.name
        button(class="mdl-button" onclick=`copyToClipboard(${receipt.id})`) Copy
|            <!-- Add spacer, to align navigation to the right -->
|            <div class="mdl-layout-spacer"></div>
|            <nav class="mdl-navigation">
|               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--fab">
|                   <img style="width: 60px" src="#{user.picture}"/>
|               </button>
|            </nav>
|        </div>
|    </header>
|    <div class="mdl-layout__drawer">
|        <span class="mdl-layout-title">Seen</span>
|        <nav class="mdl-navigation">
|            <a class="mdl-navigation__link" href="/create">Create</a>
|            <a class="mdl-navigation__link" href="/stats">Stats</a>
|        </nav>
|    </div>
|</div>
