<!doctype html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
include header.pug
    <table>
        <thead>
            <tr>
                <th>Receipt</th>
                <th>User Agent</th>
                <th>IP Address</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
tr
    each stat in stats
        - var record = JSON.parse(stat.record);
        td
            a(href=`${path}/${stat.receipt}`)= stat.receipt
        td= record['user-agent']
        td= record['cf-connecting-ip']
        td= stat.timestamp

        </tbody>
    </table>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDJGGEXT82"></script>
script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KDJGGEXT82');
</html>
