<!doctype html>
<html>
include head.pug
|   <body>
include header.pug
|       <main class="mdl-layout__content">
|           <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
|               <thead>
|                   <tr>
|                       <th class="mdl-data-table__cell--non-numeric">Email</th>
|                       <th class="mdl-data-table__cell--non-numeric">User Agent</th>
|                       <th class="mdl-data-table__cell--non-numeric">IP Address</th>
|                       <th class="mdl-data-table__cell--non-numeric">Date</th>
|                   </tr>
|               </thead>
|               <tbody>
each stat in stats
    tr
        - var record = JSON.parse(stat.record);
        td(class="mdl-data-table__cell--non-numeric")
            a(href=`${path}/${stat.receipt}`)= stat.receipt
        td(class="mdl-data-table__cell--non-numeric")= record['user-agent']
        td(class="mdl-data-table__cell--non-numeric")= record['cf-connecting-ip']
        td(class="mdl-data-table__cell--non-numeric")= stat.timestamp
|               </tbody>
|           </table>
|       </main>
|   </body>
include libs.pug
</html>
