<!doctype html>
|<html>
include head.pug
|   <body>
|       <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
include header.pug
|           <main class="mdl-layout__content">
div(class="mdl-grid")
    div(class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet")
    div(class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet")
        div(class="mdl-card mdl-shadow--6dp" style="width: fit-content")
            div(class="mdl-card__title" style="padding: 30px")
                if user
                    h2(class="mdl-card__title-text")= `Hey ${user.nickname}!`
                else
                    h2(class="mdl-card__title-text")= `Welcome to Seen 👀!`
            div(class="mdl-card__supporting-text" style="padding: 0px 30px 30px 30px; width: unset")
                if user    
                    h4
                        | Glad to see you back. Seen 👀 is there to help you
                        | get information about who opens your emails (or blog post)
                        | or in general wherever you can paste an invisible pixel.
                else
                    h4
                        | Seen is a service that allows you to create a tracking pixel, 
                        | a tiny invisible image which tracks who sees it. You can add
                        | it to your email to get information about who opened
                        | your email and when. Join to create your first pixel!
            div(class="mdl-card__actions mdl-card--border" style="padding: 10px 30px 10px 30px")
                if user    
                    a(href="/create" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect" style="margin-right: 30px") Create a pixel
                    a(href="/stats" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect") See the Statistics
                else
                    a(href="/create" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect") Join
    div(class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet")
|           </main>
|       </div>
|   </body>
include libs.pug
|</html>
